In [17]:

! cd C:\Users\andtu\PycharmProjects\covid19_nyt

%config IPCompleter.greedy=True

%matplotlib inline

import pandas as pd
import numpy as np

import seaborn as sns

# from matplotlib import pyplot as plt
import matplotlib.pyplot as plt


import io
import requests

import time
import datetime


! git clone https://github.com/datamade/census C:\Users\andtu\PycharmProjects\covid19_nyt\census
    
! git clone https://github.com/nytimes/covid-19-data C:\Users\andtu\PycharmProjects\covid19_nyt\covid-19-data

Cloning into 'C:\Users\andtu\PycharmProjects\covid19_nyt\census'...
Cloning into 'C:\Users\andtu\PycharmProjects\covid19_nyt\covid-19-data'...

In [30]:
url_nyt_by_state  = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv"
url_nyt_by_county = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"

df_nyt_by_state  = pd.read_csv( url_nyt_by_state)
df_nyt_by_county = pd.read_csv( url_nyt_by_county)

print(df_nyt_by_state.head())

print(df_nyt_by_county.head())

states   = list( set(df_nyt_by_state['state']))
counties = list( set(df_nyt_by_county['county']))

dates = list( set(df_nyt_by_state['date']))

print(states, len(states))
print(counties[:10], len(counties))

print(dates)
# fips_states   = list( set(df_nyt_by_state.loc['state','fips']))
# fips_counties = list( set(df_nyt_by_county.loc['county', 'fips']))

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0
         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0
['Alabama', 'North Dakota', 'Pennsylvania', 'Tennessee', 'Hawaii', 'Oklahoma', 'Utah', 'Idaho', 'Virgin Islands', 'New Jersey', 'Kentucky', 'Indiana', 'Missouri', 'Alaska', 'Nebraska', 'Washington', 'Virginia', 'Colorado', 'Arkansas', 'Connecticut', 'Iowa', 'New Mexico', 'Kansas', 'North Carolina', 'Michigan', 'Mississippi', 'Maine', 'Texas', 'Minnesota', 'Northern Mariana Islands', 'Louisiana', 'Oregon', 'Arizona', 'South Carolina', 'New York', 'South Dakota', 'Georgia', 'West Virginia', 'Vermont', 'Ohio', 'Guam', 'Rhode Island', 'Nevada', 'Florida', 'California', 'Montana', 'New Hampshire', 'Puerto Rico', 'Massachusetts', 'Illinois', 'Wisconsin', 'Maryland', 'Delaware', 'Wyoming', 'District of Columbia'] 55
['Letcher', 'New Hanover', 'Tallapoosa', 'Tate', 'Chattahoochee', 'Newberry', 'Mecosta', 'Simpson', 'Major', 'St. Croix'] 1557
['2020-02-13', '2020-03-03', '2020-02-04', '2020-01-23', '2020-02-28', '2020-02-27', '2020-01-30', '2020-03-08', '2020-01-27', '2020-03-10', '2020-03-01', '2020-03-05', '2020-02-20', '2020-02-25', '2020-03-15', '2020-02-10', '2020-03-20', '2020-02-15', '2020-01-26', '2020-03-02', '2020-04-05', '2020-03-23', '2020-01-28', '2020-03-04', '2020-04-07', '2020-02-17', '2020-01-31', '2020-02-06', '2020-03-24', '2020-02-19', '2020-02-22', '2020-03-19', '2020-01-22', '2020-03-16', '2020-03-12', '2020-03-27', '2020-03-31', '2020-02-03', '2020-03-13', '2020-02-11', '2020-04-04', '2020-01-21', '2020-04-03', '2020-04-08', '2020-02-12', '2020-03-06', '2020-01-24', '2020-02-16', '2020-03-17', '2020-02-29', '2020-02-02', '2020-03-11', '2020-02-05', '2020-01-25', '2020-02-23', '2020-01-29', '2020-02-14', '2020-03-21', '2020-02-18', '2020-04-02', '2020-04-06', '2020-02-01', '2020-02-09', '2020-03-30', '2020-03-18', '2020-02-08', '2020-02-21', '2020-03-14', '2020-04-01', '2020-02-07', '2020-02-24', '2020-03-07', '2020-03-28', '2020-03-29', '2020-02-26', '2020-03-09', '2020-03-26', '2020-03-25', '2020-03-22']

In [25]:
#list(df_nyt_by_state.date)
dates = list( set(df_nyt_by_state['date']))
print(dates)

['2020-02-13', '2020-03-03', '2020-02-04', '2020-01-23', '2020-02-28', '2020-02-27', '2020-01-30', '2020-03-08', '2020-01-27', '2020-03-10', '2020-03-01', '2020-03-05', '2020-02-20', '2020-02-25', '2020-03-15', '2020-02-10', '2020-03-20', '2020-02-15', '2020-01-26', '2020-03-02', '2020-04-05', '2020-03-23', '2020-01-28', '2020-03-04', '2020-04-07', '2020-02-17', '2020-01-31', '2020-02-06', '2020-03-24', '2020-02-19', '2020-02-22', '2020-03-19', '2020-01-22', '2020-03-16', '2020-03-12', '2020-03-27', '2020-03-31', '2020-02-03', '2020-03-13', '2020-02-11', '2020-04-04', '2020-01-21', '2020-04-03', '2020-04-08', '2020-02-12', '2020-03-06', '2020-01-24', '2020-02-16', '2020-03-17', '2020-02-29', '2020-02-02', '2020-03-11', '2020-02-05', '2020-01-25', '2020-02-23', '2020-01-29', '2020-02-14', '2020-03-21', '2020-02-18', '2020-04-02', '2020-04-06', '2020-02-01', '2020-02-09', '2020-03-30', '2020-03-18', '2020-02-08', '2020-02-21', '2020-03-14', '2020-04-01', '2020-02-07', '2020-02-24', '2020-03-07', '2020-03-28', '2020-03-29', '2020-02-26', '2020-03-09', '2020-03-26', '2020-03-25', '2020-03-22']

In [43]:
#
df_nyt_by_state[df_nyt_by_state['state']=='Alabama'].head()

           date    state  fips  cases  deaths
586  2020-03-13  Alabama     1      6       0
637  2020-03-14  Alabama     1     12       0
689  2020-03-15  Alabama     1     23       0
742  2020-03-16  Alabama     1     29       0
795  2020-03-17  Alabama     1     39       0

In [45]:
df_nyt_by_county[df_nyt_by_county['county']=='Cook'].head()

          date county     state     fips  cases  deaths
3   2020-01-24   Cook  Illinois  17031.0      1       0
6   2020-01-25   Cook  Illinois  17031.0      1       0
11  2020-01-26   Cook  Illinois  17031.0      1       0
16  2020-01-27   Cook  Illinois  17031.0      1       0
21  2020-01-28   Cook  Illinois  17031.0      1       0

In [42]:
fips_codes_state  = {state : df_nyt_by_state[df_nyt_by_state['state']==state].fips.iloc[0] for state in states}
fips_codes_county = {county : df_nyt_by_county[df_nyt_by_county['county']==county].fips.iloc[0] for county in counties}
print(fips_codes_state)
#df_nyt_by_state[df_nyt_by_state['state']=='Alabama'].fips.iloc[0]

{'Alabama': 1, 'North Dakota': 38, 'Pennsylvania': 42, 'Tennessee': 47, 'Hawaii': 15, 'Oklahoma': 40, 'Utah': 49, 'Idaho': 16, 'Virgin Islands': 78, 'New Jersey': 34, 'Kentucky': 21, 'Indiana': 18, 'Missouri': 29, 'Alaska': 2, 'Nebraska': 31, 'Washington': 53, 'Virginia': 51, 'Colorado': 8, 'Arkansas': 5, 'Connecticut': 9, 'Iowa': 19, 'New Mexico': 35, 'Kansas': 20, 'North Carolina': 37, 'Michigan': 26, 'Mississippi': 28, 'Maine': 23, 'Texas': 48, 'Minnesota': 27, 'Northern Mariana Islands': 69, 'Louisiana': 22, 'Oregon': 41, 'Arizona': 4, 'South Carolina': 45, 'New York': 36, 'South Dakota': 46, 'Georgia': 13, 'West Virginia': 54, 'Vermont': 50, 'Ohio': 39, 'Guam': 66, 'Rhode Island': 44, 'Nevada': 32, 'Florida': 12, 'California': 6, 'Montana': 30, 'New Hampshire': 33, 'Puerto Rico': 72, 'Massachusetts': 25, 'Illinois': 17, 'Wisconsin': 55, 'Maryland': 24, 'Delaware': 10, 'Wyoming': 56, 'District of Columbia': 11}

In [70]:
np.array(df[df['state']==state].date)

array(['2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16',
       '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20',
       '2020-03-21', '2020-03-22', '2020-03-23', '2020-03-24',
       '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-28',
       '2020-03-29', '2020-03-30', '2020-03-31', '2020-04-01',
       '2020-04-02', '2020-04-03', '2020-04-04', '2020-04-05',
       '2020-04-06', '2020-04-07', '2020-04-08'], dtype=object)

In [89]:
df = df_nyt_by_state.copy()
data_state = dict({})
for state in states:
    data_state[state] = {
        'fips' : df[df['state']==state].fips.iloc[0],
        'counties' : list(set(df_nyt_by_county[df_nyt_by_county['state'] == state].county )), 
        'dates' : np.array(df[df['state']==state].date),
        'cases_cum' : np.array(df[df['state']==state].cases),
        'deaths' : np.array(df[df['state']==state].deaths),
        'cases' : np.diff( np.array(df[df['state']==state].cases), prepend=0 ),
        'cases_final' : df[df['state']==state].cases.iloc[-1],
        'deaths_final' : df[df['state']==state].deaths.iloc[-1]
    }
data_state['Alabama']

{'fips': 1,
 'counties': ['Colbert',
  'Sumter',
  'Clarke',
  'Chilton',
  'St. Clair',
  'Conecuh',
  'Barbour',
  'Marengo',
  'Houston',
  'Hale',
  'Russell',
  'Lauderdale',
  'Lowndes',
  'Tallapoosa',
  'Franklin',
  'Macon',
  'DeKalb',
  'Chambers',
  'Autauga',
  'Covington',
  'Madison',
  'Cleburne',
  'Pickens',
  'Winston',
  'Dale',
  'Pike',
  'Washington',
  'Montgomery',
  'Elmore',
  'Bullock',
  'Calhoun',
  'Randolph',
  'Escambia',
  'Baldwin',
  'Walker',
  'Cherokee',
  'Choctaw',
  'Crenshaw',
  'Coffee',
  'Butler',
  'Blount',
  'Jackson',
  'Fayette',
  'Dallas',
  'Lawrence',
  'Henry',
  'Perry',
  'Mobile',
  'Tuscaloosa',
  'Coosa',
  'Shelby',
  'Wilcox',
  'Greene',
  'Bibb',
  'Geneva',
  'Lamar',
  'Marion',
  'Marshall',
  'Jefferson',
  'Lee',
  'Morgan',
  'Monroe',
  'Etowah',
  'Clay',
  'Talladega',
  'Cullman',
  'Limestone'],
 'dates': array(['2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16',
        '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20',
        '2020-03-21', '2020-03-22', '2020-03-23', '2020-03-24',
        '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-28',
        '2020-03-29', '2020-03-30', '2020-03-31', '2020-04-01',
        '2020-04-02', '2020-04-03', '2020-04-04', '2020-04-05',
        '2020-04-06', '2020-04-07', '2020-04-08'], dtype=object),
 'cases_cum': array([   6,   12,   23,   29,   39,   51,   78,  106,  131,  157,  196,
         242,  386,  538,  639,  720,  830,  947,  999, 1106, 1270, 1535,
        1633, 1841, 2006, 2197, 2499], dtype=int64),
 'deaths': array([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  3,  4,  4,  5,
        11, 13, 28, 32, 38, 44, 45, 53, 64, 67], dtype=int64),
 'cases': array([  6,   6,  11,   6,  10,  12,  27,  28,  25,  26,  39,  46, 144,
        152, 101,  81, 110, 117,  52, 107, 164, 265,  98, 208, 165, 191,
        302], dtype=int64),
 'cases_final': 2499,
 'deaths_final': 67}

In [90]:
data_state['Washington']

{'fips': 53,
 'counties': ['Thurston',
  'Douglas',
  'Clark',
  'Lewis',
  'King',
  'Spokane',
  'Clallam',
  'Kittitas',
  'Franklin',
  'Unknown',
  'Kitsap',
  'Snohomish',
  'Grays Harbor',
  'Mason',
  'San Juan',
  'Stevens',
  'Klickitat',
  'Island',
  'Cowlitz',
  'Whitman',
  'Asotin',
  'Yakima',
  'Benton',
  'Ferry',
  'Pierce',
  'Adams',
  'Grant',
  'Skagit',
  'Lincoln',
  'Skamania',
  'Columbia',
  'Pend Oreille',
  'Walla Walla',
  'Jefferson',
  'Whatcom',
  'Chelan',
  'Wahkiakum',
  'Okanogan'],
 'dates': array(['2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
        '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
        '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-01',
        '2020-02-02', '2020-02-03', '2020-02-04', '2020-02-05',
        '2020-02-06', '2020-02-07', '2020-02-08', '2020-02-09',
        '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13',
        '2020-02-14', '2020-02-15', '2020-02-16', '2020-02-17',
        '2020-02-18', '2020-02-19', '2020-02-20', '2020-02-21',
        '2020-02-22', '2020-02-23', '2020-02-24', '2020-02-25',
        '2020-02-26', '2020-02-27', '2020-02-28', '2020-02-29',
        '2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
        '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
        '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12',
        '2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16',
        '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20',
        '2020-03-21', '2020-03-22', '2020-03-23', '2020-03-24',
        '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-28',
        '2020-03-29', '2020-03-30', '2020-03-31', '2020-04-01',
        '2020-04-02', '2020-04-03', '2020-04-04', '2020-04-05',
        '2020-04-06', '2020-04-07', '2020-04-08'], dtype=object),
 'cases_cum': array([   1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    5,    5,    5,    5,    7,   10,   17,   23,   32,   47,
          75,   86,  110,  141,  179,  279,  338,  419,  511,  609,  675,
         794,  908, 1026, 1228, 1404, 1655, 1844, 2101, 2469, 2585, 3208,
        3770, 4311, 4896, 5179, 5292, 5588, 6585, 6966, 7498, 7984, 8384,
        8682, 9097], dtype=int64),
 'deaths': array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          1,   3,   6,  10,  11,  11,  12,  16,  19,  22,  24,  29,  32,
         37,  40,  42,  48,  54,  68,  75,  83,  95,  97, 110, 123, 130,
        151, 177, 191, 207, 221, 226, 249, 272, 293, 318, 344, 383, 409,
        454], dtype=int64),
 'cases': array([  1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   4,   0,   0,   0,   2,
          3,   7,   6,   9,  15,  28,  11,  24,  31,  38, 100,  59,  81,
         92,  98,  66, 119, 114, 118, 202, 176, 251, 189, 257, 368, 116,
        623, 562, 541, 585, 283, 113, 296, 997, 381, 532, 486, 400, 298,
        415], dtype=int64),
 'cases_final': 9097,
 'deaths_final': 454}

In [92]:
df = df_nyt_by_county.copy()
data_state = dict({})
for county in counties:
    data_state[county] = {
        'fips' : df[df['county']==county].fips.iloc[0],
        'state' : df[df['county']==county].state.iloc[0],
        'dates' : np.array(df[df['county']==county].date),
        'cases_cum' : np.array(df[df['county']==county].cases),
        'deaths' : np.array(df[df['county']==county].deaths),
        'cases' : np.diff( np.array(df[df['county']==county].cases), prepend=0 ),
        'cases_final' : df[df['county']==county].cases.iloc[-1],
        'deaths_final' : df[df['county']==county].deaths.iloc[-1]
    }

In [93]:
data_state['Cook']

{'fips': 17031.0,
 'state': 'Illinois',
 'dates': array(['2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27',
        '2020-01-28', '2020-01-29', '2020-01-30', '2020-01-31',
        '2020-02-01', '2020-02-02', '2020-02-03', '2020-02-04',
        '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-08',
        '2020-02-09', '2020-02-10', '2020-02-11', '2020-02-12',
        '2020-02-13', '2020-02-14', '2020-02-15', '2020-02-16',
        '2020-02-17', '2020-02-18', '2020-02-19', '2020-02-20',
        '2020-02-21', '2020-02-22', '2020-02-23', '2020-02-24',
        '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28',
        '2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03',
        '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-07',
        '2020-03-08', '2020-03-09', '2020-03-10', '2020-03-11',
        '2020-03-12', '2020-03-13', '2020-03-14', '2020-03-15',
        '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19',
        '2020-03-20', '2020-03-21', '2020-03-22', '2020-03-23',
        '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27',
        '2020-03-28', '2020-03-29', '2020-03-30', '2020-03-30',
        '2020-03-31', '2020-03-31', '2020-04-01', '2020-04-01',
        '2020-04-02', '2020-04-02', '2020-04-03', '2020-04-03',
        '2020-04-04', '2020-04-04', '2020-04-05', '2020-04-05',
        '2020-04-06', '2020-04-06', '2020-04-07', '2020-04-07',
        '2020-04-08', '2020-04-08'], dtype=object),
 'cases_cum': array([    1,     1,     1,     1,     1,     1,     2,     2,     2,
            2,     2,     2,     2,     2,     2,     2,     2,     2,
            2,     2,     2,     2,     2,     2,     2,     2,     2,
            2,     2,     2,     2,     2,     2,     2,     2,     2,
            3,     3,     4,     4,     4,     5,     6,     6,     7,
           11,    17,    22,    27,    40,    51,    76,    76,   107,
          179,   279,   412,   548,   805,   922,  1194,  1418,  1904,
         2239,  2613,  3445,     1,  3727,     1,  4496,     1,  5152,
            1,  5575,     1,  6473,     1,  7439,     1,  8043,     2,
         8728,     4,  9509,     4, 10520], dtype=int64),
 'deaths': array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   1,   1,   2,   3,   4,   6,   9,  12,  13,  18,  20,  28,
         40,   0,  44,   0,  61,   0,  95,   0, 107,   0, 141,   0, 167,
          0, 186,   0, 209,   0, 249,   0, 312], dtype=int64),
 'cases': array([    1,     0,     0,     0,     0,     0,     1,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            1,     0,     1,     0,     0,     1,     1,     0,     1,
            4,     6,     5,     5,    13,    11,    25,     0,    31,
           72,   100,   133,   136,   257,   117,   272,   224,   486,
          335,   374,   832, -3444,  3726, -3726,  4495, -4495,  5151,
        -5151,  5574, -5574,  6472, -6472,  7438, -7438,  8042, -8041,
         8726, -8724,  9505, -9505, 10516], dtype=int64),
 'cases_final': 10520,
 'deaths_final': 312}

array([   5,   -5,    4,    2,   15,    1,   -3,    1,   13,    7,   98,
          8,  -51,  -20,   29,    7,  -65,   55,   57,  101, -167,  110,
        -43,   26,  111], dtype=int64)